.DS_Store
.Rhistory
.ipynb_checkpoints/
__pycache__/
.vscode/
venv_conda.txt

data/
data_raw/
result_paper/
result_eng/
!script/Data/
script/VITAL/results/
script/VITAL/test/
script/AugText/key.py

test_*
jobs/
*.sbatch